$primary_color: #AAA;

body {
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

a {
  color: #0000FF;
  img {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  position:relative;
  width: 90%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 20px;
  border: solid 1px black;
  margin-top: 10px;
  margin-bottom: 10px;
}

#content {
  position:relative;
  width: 75%;
  left: 200px;
  clear: both;
  top: 20px;
  min-height: 350px;
  margin-bottom: 20px;
}

#sidebar {
  margin-top: 75px;
}
